<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blind box</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <h1 class="nav-title">Name</h1>
        <ul class="nav-link-list">
          <li><a class="nav-link" href="/collections">Collections</a></li>
          <li><a class="nav-link" href="/">Listings</a></li>
          <li><a class="nav-link" href="/trade-requests">Trade Requests</a></li>
          <li><a class="nav-link" href="/conversations">Messaging</a></li>
          <li><a class="nav-link" href="/profile">Profile</a></li>
        </ul>
      </nav>
      <p></p>
    </header>
    {{{body}}}
  </body>

</html>