<main>
    <h1>Welcome to BlindBox Trade!</h1>


    <ul class="collection-wrapper">
        {{#each collection}}
            <li>
                <h2 id="collection-name">{{this.collectionName}}</h2>
                <img class="collection-img" src="{{this.collectionImageUrl}}">
                
                <div class="figure-display">
                    <form id="figure-display" method="POST">
                        {{#each this.figures}}
                            <img class="figure-img" src="{{this.figureImageUrl}}">
                            <button name="figure" id="figure" for="figure-display" formmethod="POST" value="{{this._id}}">Add to Wish List</button>
                        {{/each}}
                    </form>
                </div>
                
            </li>
        {{/each}}
    </ul>
</main>