<main>
    <h1>Welcome to BlindBox Trade!</h1>


<div class="collection-wrapper">
    {{#each collection}}

    <div class="collection-banner">
        <h2 id="collection-name">{{this.collectionName}}</h2>
        <br>
        <img class="collection-img" src="{{this.collectionImageUrl}}">
    </div>
    <br>
    <div class="figure-display">
        {{#each this.figures}}
            <img class="figure-img" src="{{this.figureImageUrl}}">
        
        {{/each}}
    </div>
    {{/each}}  

</div>

    
    
          

</main>