<div class="temp"></div>

<main class="conv-container">
  <section class="user-panel">
    <div class="user-panel-header">
      <h2 class="user-panel-header-text">Messages</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="create-msg-btn"
      ><title>email-plus-outline</title><path
          d="M13 19C13 18.66 13.04 18.33 13.09 18H4V8L12 13L20 8V13.09C20.72 13.21 21.39 13.46 22 13.81V6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H13.09C13.04 19.67 13 19.34 13 19M20 6L12 11L4 6H20M20 15V18H23V20H20V23H18V20H15V18H18V15H20Z"
        /></svg>
    </div>
    <div class="user-panel-body">
      <ul class="user-panel-list">
        <li class="user-panel-list-item">
          <div class="user-pfp">
            <img
              class="user-pfp-img"
              src="https://via.placeholder.com/150"
              alt="User Profile Picture"
            />
          </div>
          <div class="user-info">
            <h3 class="user-name">John Doe</h3>
            <p class="user-message">Hey, how are you?</p>
          </div>
        </li>
      </ul>
    </div>

  </section>
  <section class="chat-panel">
    <div class="chat-panel-header">
      <h2 class="chat-panel-header-text">John Doe</h2>
    </div>
    <ul class="chat-panel-body">
      <li class="chat-message">
        <div class="user-pfp">
          <img
            class="user-pfp-img"
            src="https://via.placeholder.com/150"
            alt="User Profile Picture"
          />
        </div>
        <p class="chat-message-text">Hello how are you doing today.</p>
      </li>
    </ul>
    <form class="chat-form">
      <div class="chat-input-wrapper">
        <input class="chat-input" type="text" placeholder="Message John Doe" />
        <button class="chat-button" type="submit">Send</button>
      </div>

    </form>
  </section>
</main>