
<main>
  <h1>Listing Page</h1>
      <ol>
        <p>Evan Dumb</p>
        {{#each listing}}
              <li class = 'listing-item'> 
                <a class = 'listing-link' href='/listing/{{this._id}}'>{{this.listingName}} <br> 
              <li>
        {{/each}}
    </ol>
</main>