
<main>
  <h1>Listing Page</h1>
      <ol>
        {{#each listing}}
            <div class = 'listing-wrapper'>
              <li class = 'listing-item'> 
                <a class = 'listing-link' href='/getListing/{{this._id}}'>{{this.listingName}} <br> 
              <li>
            </div>
        {{/each}}
    </ol>
</main>