<main class="auth-container">
  <form id="signin-form" method="POST" action="/sign-in">
    <h1>Sign In</h1>
    <div class="error-div" hidden></div>
    {{#if error}}
      <div class="alert">
        <p class="alert-text">{{error}}</p>
      </div>
    {{/if}}
    <div class="input-wrapper">
      <label for="username" class="auth-label">Username</label>
      <input
        type="text"
        id="signin-username"
        name="username"
        class="auth-input"
        placeholder="Enter username..."
      />
    </div>
    <div class="input-wrapper">
      <label for="password" class="auth-label">Password</label>
      <input
        type="password"
        id="signin-password"
        name="password"
        class="auth-input"
        placeholder="Enter password..."
      />
    </div>
    <button type="submit" class="auth-button">
      <p class="auth-button-text">Sign in</p>
    </button>
  </form>
</main>

{{> (lookup . 'partial') }}