<main class="auth-container">
  <form id="signup-form">
    <h1>Create an Account</h1>
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="auth-input"
        placeholder="testing123@gmail.com"
      />
    </div>
    <div class="input-wrapper">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="auth-input"
        placeholder="Enter username..."
      />
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="auth-input"
        placeholder="Enter password..."
      />
    </div>
    <div class="input-wrapper">
      <label for="confirmPassword">Re-enter Password</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        class="auth-input"
        placeholder="Re-enter password..."
      />
    </div>
    <div class="input-wrapper">
      <label for="description">Profile Description</label>
      <input
        type="text"
        name="description"
        id="description"
        class="auth-input"
        placeholder="Enter profile description..."
      />
    </div>
    <button type="submit" class="auth-button">
      <p class="auth-button-text">Sign up</p>
    </button>
  </form>

</main>