<main class="auth-container">
  <form id="signup-form" method="POST" action="/sign-up">
    <h1>Create an Account</h1>
    <div class="error-div" hidden></div>
    {{#if error}}
      <div class="alert">
        <p class="alert-text">{{error}}</p>
      </div>
    {{/if}}

    <div class="input-wrapper">
      <label for="username" class="auth-label">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="auth-input"
        placeholder="Enter username..."
      />
    </div>
    <div class="input-wrapper">
      <label for="password" class="auth-label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="auth-input"
        placeholder="Enter password..."
      />
    </div>
    <div class="input-wrapper">
      <label for="confirm-password" class="auth-label">Re-enter Password</label>
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        class="auth-input"
        placeholder="Re-enter password..."
      />
    </div>
    <div class="input-wrapper">
      <label for="description" class="auth-label">Profile Description</label>
      <input
        type="text"
        name="description"
        id="description"
        class="auth-input"
        placeholder="Enter profile description..."
      />
    </div>
    <div id="location-wrapper">
      <div class="city-wrapper">
        <label for="city" class="auth-label">City</label>
        <input
          type="text"
          name="city"
          id="city"
          class="auth-input"
          placeholder="Enter city..."
        />
      </div>
      <div class="state-wrapper">
        <label for="state" class="auth-label">State</label>
        <select name="state" id="state">
          {{#each states}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <a href="/sign-in" class="redirect-link">Already a user? Sign in</a>
    <button type="submit" class="auth-button">
      <p class="auth-button-text">Sign up</p>
    </button>
  </form>
</main>

{{> (lookup . 'partial') }}