<main class="auth-container">
  <form id="signin-form">
    <h1>Sign In</h1>
    <div class="input-wrapper">
      <label for="username">Username</label>
      <input
        type="text"
        id="signin-username"
        name="signin-username"
        class="auth-input"
        placeholder="Enter username..."
      />
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <input
        type="password"
        id="signin-password"
        name="signin-password"
        class="auth-input"
        placeholder="Enter password..."
      />
    </div>
    <button type="submit" class="auth-button">
      <p class="auth-button-text">Sign in</p>
    </button>
  </form>
</main>