* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", serif;
}

/* nav bar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: lightcoral;
  position: relative;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.nav-link-list {
  position: absolute;
  display: flex;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  font-weight: 600;
}

/* sign up and log in pages */

.auth-container {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  min-width: 30rem;
  border: 1px solid black;
}

#signin-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  min-width: 30rem;
  border: 1px solid black;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#location-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.state-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#state {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border: 1px solid black;
}

.auth-button {
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: lightcoral;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: inline-block;
}

.auth-button-text {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.auth-input {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border: 1px solid black;
}

.auth-label {
  font-weight: 500;
  font-size: 1rem;
}

.error-div {
}

.error-item {
  color: red;
  font-size: 0.8rem;
  font-weight: 400;
}

.alert {
  padding: 0rem 0.25rem;
  padding-top: 0.5rem;
}

.alert-text {
  color: blue;
  font-size: 0.8rem;
  font-weight: 600;
}

.redirect-link {
  color: #1d4ed8;
  margin-top: 0.5rem;
}

/* chat & conversations */

.conv-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: flex;
  width: 75%;
  height: calc(100% - 6rem);
  margin-top: 2.5rem;
  border: 1px solid black;
}

.user-panel {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.user-panel-header {
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.user-panel-header-text {
  font-weight: 700;
  font-size: 1.5rem;
}

.create-msg-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 1.5rem;
}

.user-panel-body {
  width: 100%;
}

.create-conv-wrapper {
  padding: 1.1rem;
  padding-bottom: 0;
}

.create-conv-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-conv-input {
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 0.5rem;
}

.create-conv-btn {
  border: solid 1px black;
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.conv-panel-list {
  margin-top: 1rem;
}

.conv-panel-list-item {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.conv-panel-list-item:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.conv-panel-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.conv-pfp {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.conv-pfp-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.conv-user-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.conv-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.chat-panel {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.chat-panel-header {
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
}

.chat-panel-header-text {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.chat-panel-body {
  width: 100%;
  height: 100%;
}

.chat-pfp {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.chat-pfp-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.chat-message-l {
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.chat-message-r {
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-top: 0.25rem;
}

.chat-message-content-l,
.chat-message-content-r {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 6px 15px;
  background-color: #e5e7eb;
  position: relative;
  margin-left: 1rem;
}

.chat-message-content-r {
  background-color: lightskyblue;
}

.chat-message-text {
  font-size: 1rem;
}

.chat-message-time {
  font-size: 0.75rem;
  color: gray;
}

.chat-form {
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input-wrapper {
  width: 100%;
  border: solid 1px black;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.5rem;
}

.chat-input {
  width: 100%;
  outline: none;
  border: none;
  height: 100%;
  padding: 0.5rem;
}

.chat-button-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-button {
  border: none;
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  margin-right: 0.5rem;
  border-radius: 0.75rem;
}

.no-messages {
  margin: auto;
}

.no-messages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* profile page */

.profile-container {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: calc(100% - 4rem);
}

.profile-header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid black;
}

.profile-info {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 450px;
}

.profile-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.profile-subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #52525b;
  overflow-wrap: break-word;
  width: 300px;
}

.profile-avatar {
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.profile-collection-img {
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.tracker-btn {
  border: none;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: lightcoral;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 1rem;
}

.follow-btn,
.edit-profile-btn {
  border: none;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: lightcoral;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 1rem;
}

.edit-profile-btn {
  text-decoration: none;
}

.message-btn {
  border: 0;
  font-weight: 600;
  border-radius: 0.25rem;
  background-color: #e5e7eb;
  cursor: pointer;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  text-decoration: none;
  color: black;
}

.location-text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #030712;
}

.stats-wrapper {
  display: flex;
  margin-top: 0.5rem;
}

.stats-text {
  font-size: 1rem;
  font-weight: 500;
  color: #030712;
  margin-right: 1rem;
}

.stats-title {
  font-weight: 500;
}

.stats-number {
  font-weight: 700;
}

.profile-collection {
  margin-top: 1rem;
  width: 100%;
}

.collection-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.collection-item {
  margin: 1rem 2rem;
}

/* edit profile */

.edit-profile-container {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile-header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid black;
}

#edit-profile-form {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.edit-profile-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.edit-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.edit-input {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}

.edit-label {
  font-weight: 500;
  font-size: 0.9rem;
}

.edit-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.confirm-edit-btn {
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: lightcoral;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.cancel-edit-btn {
  text-decoration: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #e5e7eb;
  color: black;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

<<<<<<< Updated upstream
/* Listing page */
.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 1rem 0.5rem;
}

.listing-head {
  width: 100%;
  font-size: 1.5rem;
  margin-left: 1rem;
=======
/* Listing Page*/
.listing-head {
  width: 100%;
  padding: 0.75rem 0.5rem;
  
>>>>>>> Stashed changes
}

.listing-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 1rem;
}

.listing-item {
  width: 300px;
  list-style-type: none;
  padding: 0.25rem 1rem;
  background-color: #fecaca;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.listing-img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.listing-img {
  width: 100%;
  height: 100%;
}

.listing-link {
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

/* Get Listing */
.listing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 1rem 0.5rem;
}

.listing-title {
  width: 100%;
  font-size: 1.7rem;
}

.figure-name {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
}

.listingFigure-image {
  width: 400px;
  height: 400px;
  background-color: #fecaca;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.listing-section {
  display: flex;
  margin-top: 1rem;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
}

.figure-name {
  margin-top: 0.5rem;
  color: #52525b;
  font-weight: 600;
}

.lister-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.user-wrapper {
  display: flex;
}

.user-info {
}

.user-link {
  margin-left: 0.25rem;
  color: black;
}

.description-condition {
  font-size: 1.1rem;
  font-weight: 600;
}

.description-description {
}

.offering-section {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

.offering-table {
  display: flex;
  list-style: none;
  margin-top: 1rem;
}

.offering-item {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offering-image-wrapper {
  width: 200px;
  height: 200px;
}

.offering-image {
  width: 100%;
  height: 100%;
}

.comment-section {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

/* Collection page */

.collection-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 1rem;
}

.figure-img {
  width: 10%;
}
.figure-display {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* tracker page css */

/* The container */
.tracker-figure-box {
  color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(41, 2, 41);
  width: 25%;
}

/* Hide the browser's default checkbox */
.tracker-figure-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.tracker-figure-box img {
  width: 50px;
  height: 50px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
  margin: 12px;
}

/* On mouse-over, add a grey background color */
.tracker-figure-box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.tracker-figure-box input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tracker-figure-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.tracker-figure-box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tracker-figure-box label {
  display: block;
  width: 100vw;
  border: 1px solid white;
}

#tracker-main {
  display: flex;
  padding: 20px;
}

#tracker-add {
  width: 20%;
  background-color: goldenrod;
}

#tracker-list {
  width: 80%;
  background-color: plum;
}

.tracker-owned {
  background-color:green;
}

.tracker-not-owned {
  background-color: red;
}
