* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", serif;
}

/* nav bar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: lightcoral;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.nav-link-list {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  font-weight: 600;
}

/* sign up and log in pages */

.auth-container {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  min-width: 30rem;
  border: 1px solid black;
}

#signin-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  min-width: 30rem;
  border: 1px solid black;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#location-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.state-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#state {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border: 1px solid black;
}

.auth-button {
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: lightcoral;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: inline-block;
}

.auth-button-text {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.auth-input {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border: 1px solid black;
}

.auth-label {
  font-weight: 500;
  font-size: 1rem;
}

.error-div {
}

.error-item {
  color: red;
  font-size: 0.8rem;
  font-weight: 400;
}

.alert {
  padding: 0rem 0.25rem;
  padding-top: 0.5rem;
}

.alert-text {
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
}

.redirect-link {
  color: #1d4ed8;
  margin-top: 0.5rem;
}

/* chat & conversations */

.conv-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: flex;
  width: 75%;
  height: calc(100% - 6rem);
  margin-top: 2.5rem;
  border: 1px solid black;
}

.user-panel {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.user-panel-header {
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.user-panel-header-text {
  font-weight: 700;
  font-size: 1.5rem;
}

.create-msg-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  width: 1.5rem;
}

.user-panel-body {
  width: 100%;
}

.create-conv-wrapper {
  padding: 1.1rem;
  padding-bottom: 0;
}

.create-conv-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-alert {
  color: red;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}

.create-conv-input {
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 0.5rem;
}

.create-conv-btn {
  border: solid 1px black;
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.user-panel-list {
  margin-top: 1rem;
}

.user-panel-list-item {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.user-panel-list-item:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.user-panel-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.user-pfp {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.user-pfp-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.user-name {
  font-weight: 700;
  font-size: 1.1rem;
}

.chat-panel {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.chat-panel-header {
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
}

.chat-panel-header-text {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.chat-panel-body {
  width: 100%;
  height: 100%;
}

.chat-pfp {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.chat-pfp-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.chat-message-l {
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.chat-message-r {
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-top: 0.25rem;
}

.chat-message-content-l,
.chat-message-content-r {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 6px 15px;
  background-color: #e5e7eb;
  position: relative;
  margin-left: 1rem;
}

.chat-message-content-r {
  background-color: lightskyblue;
}

.chat-message-text {
  font-size: 1rem;
}

.chat-message-time {
  font-size: 0.75rem;
  color: gray;
}

.chat-form {
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input-wrapper {
  width: 100%;
  border: solid 1px black;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.5rem;
}

.chat-input {
  width: 100%;
  outline: none;
  border: none;
  height: 100%;
  padding: 0.5rem;
}

.chat-button-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-button {
  border: none;
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  margin-right: 0.5rem;
  border-radius: 0.75rem;
}

.no-messages {
  margin: auto;
}

.no-messages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* profile page */

.profile-container {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: calc(100% - 4rem);
}

.profile-header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid black;
}

.profile-info {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 450px;
}

.profile-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.profile-subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #52525b;
  overflow-wrap: break-word;
  width: 250px;
}

.profile-avatar {
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.follow-btn,
.edit-profile-btn {
  border: none;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: lightcoral;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 1rem;
}

.edit-profile-btn {
  text-decoration: none;
}

.message-btn {
  border: 0;
  font-weight: 600;
  border-radius: 0.25rem;
  background-color: #e5e7eb;
  cursor: pointer;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  text-decoration: none;
  color: black;
}

.location-text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #030712;
}

.stats-wrapper {
  display: flex;
  margin-top: 0.5rem;
}

.stats-text {
  font-size: 1rem;
  font-weight: 500;
  color: #030712;
  margin-right: 1rem;
}

.stats-title {
  font-weight: 500;
}

.stats-number {
  font-weight: 700;
}

.profile-collection {
  margin-top: 1rem;
  width: 100%;
}

.collection-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.collection-item {
  margin: 1rem 2rem;
}

/* edit profile */

.edit-profile-container {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile-header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid black;
}

.edit-profile-form {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.edit-profile-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.edit-input {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border: 1px solid black;
}

.edit-label {
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.confirm-edit-btn {
  border: none;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: lightcoral;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}