* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", serif;
}

.auth-container {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  min-width: 30rem;
  border: 1px solid black;
}

#signin-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  min-width: 30rem;
  border: 1px solid black;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#location-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.state-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#state {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border: 1px solid black;
}

.auth-button {
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: lightcoral;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: inline-block;
}

.auth-button-text {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.auth-input {
  padding: 0.5rem 0.3rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  border: 1px solid black;
}

.auth-label {
  font-weight: 500;
  font-size: 1rem;
}
